  <!-- <div class= "register"> -->
<div clas="ticketimage1">
<div class="redbox">
  <h1> Become a Winner Today!</h1> <br>
  <h3> Create Your WynRaffle Account </h3><br>
  <%= render 'form', user: @user %>
</div>
</div>
