<div class="container">
  <div class= "register">
  <div class= "registertitle"> Become a Winner Today!</div>

  <h3> Create Your WynRaffle Account </h3><br>

  <%= render 'form', user: @user %>
  </div>
</div>
