
<div class="home">

  <h1>Welcome To <br>WynRaffles</h1>
  <h2> Where Being A Winner Helps Others</h2>
<button class="btn center-block" id="view-raf"><%= link_to 'View Raffles', login_path %></button>
</div>
<br><br>
<div class="row">
  <div class="col-sm-6 col-md-4">
      <i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i>
      <div class="caption">
        <h3>Create and Post</h3>
        <p>...</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        <div class="caption">
          <h3>Random Winner Generator</h3>
          <p>...</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
        <div class="caption">
          <h3>Winner Notification</h3>
          <p>...</p>
        </div>
    </div>
  </div>
<div class="quote">
  <div class= "quotetext">
<h1>T</h1>ogether <h1>E</h1>veryone <h1>A</h1>chieves <h1>M</h1>ore!
</div>
  </div
  <div class="row">
    <div class="count">
    <div class="col-sm-6 col-md-4">
        <div class="circle1">
          <h3>10<h3>
        <div class="caption">
          <h3>Total Live Raffle Events</h3>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
            <div class="circle2">
              <h3>$1,278.70<h3>
          <div class="caption">
            <h3>Total Amount Raised To Date</h3>
          </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-4">
          <div class="circle3">
            <h3>6<h3>
          <div class="caption">
            <h3>Total Raffle Winners</h3>
          </div>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="count">
    <div class="circle1">
      <h3>10<h3>
        <div class= "description">
          Total Live Raffle Events
        </div>
    </div>
    <div class="circle2">
      <h3>$1,278.70<h3>
        <div class= "description">
          Total Raffle Winners
        </div>
    </div>
    <div class="circle3">
      <h3>6<h3>
        <div class= "description">
          Total Raffle Winners
        </div>
    </div>
  </div> -->
