<div class="row">

  <div class="home">
    <h1>Welcome To <br>WynRaffles</h1>
    <h2> Where Being A Winner Helps Others</h2>
    <button class="btn center-block" id="view-raf"><%= link_to 'View Raffles', login_path %></button>
  </div>

</div>

<br><br>

<div class="row row-withmargin">

  <div class="col-sm-6 col-md-4 cards">
    <div class="thumbnail">
      <i class="fa fa-thumb-tack fa-5x" aria-hidden="true"></i>
      <div class="caption">
        <h3>Create and Post</h3>
        <p>ashdf jkasg dfkgwd fgwlidglkh sdclk bclib3rcil rlihiwl herfihweil rufhlw euhrfkwebv webchbwelewbh</p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4 cards">
      <div class="thumbnail">
        <i class="fa fa-gift fa-5x" aria-hidden="true"></i>
        <div class="caption">
          <h3>Random Winner Generator</h3>
          <p>ashdf jkasg dfkgwd fgwlidglkh sdclk bclib3rcil rlihiwl herfihweil rufhlw euhrfkwebv webchbwelewbh</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 cards">
      <div class="thumbnail">
        <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
        <div class="caption">
          <h3>Winner Notification</h3>
          <p>ashdf jkasg dfkgwd fgwlidglkh sdclk bclib3rcil rlihiwl herfihweil rufhlw euhrfkwebv webchbwelewbh</p>
        </div>
      </div>
    </div>

</div>

<div class="row black-bg row-withmargin">

  <div class="col-sm-12 col-lg-3">
    <div class="quote">
      <div class= "quotetext">
        <h1>T</h1><br><br><br><br><br><br><p>ogether</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-3">
    <div class="quote">
      <div class= "quotetext">
        <h1>E</h1><br><br><br><br><br><br><p>veryone</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-3">
    <div class="quote">
      <div class= "quotetext">
        <h1>A</h1><br><br><br><br><br><br><p>chieves</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-3">
    <div class="quote">
      <div class= "quotetext">
        <h1>M</h1><br><br><br><br><br><br><p>ore!</p>
      </div>
    </div>
  </div>

</div>

<div class="row row-withmargin">
  <div class="count">

    <div class="col-sm-12 col-md-4">
      <div class="circle1">
        <p class="ft-sz-5em">10</p>
      </div>
      <div class="caption">
        <p class="ft-sz-3em">Total Live Raffle Events</p>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="circle2">
        <p class="ft-sz-3em">$1,278.70</p>
      </div>
      <div class="caption">
        <p class="ft-sz-3em">Total Amount Raised To Date</p>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="circle3">
        <p class="ft-sz-5em">6</p>
      </div>
      <div class="caption">
        <p class="ft-sz-3em">Total Raffle Winners</p>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="container-fluid">
    <p class="footer-text">&copy; 2016 Lauren Leibowitz and N. Alejandra Estevez.</p>
  </div>
</div>
