// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row {
  height: 100%;
  margin: 0;
}


.home {
  background: #fff url('raffle-bowl.jpg');
  height: 100vh;
  width: 100%;
}

.home h1 {
  font-size: 7em;
  text-align: center;
  color: #fff;
  line-height: 1em;
  margin-bottom: 1.5em;
  padding-top: 1em;
}

.home h2 {
  color: white;
  text-align: center;
  margin-bottom: .5em;
}

.fa {
  color: black;
}


button#view-raf  {
  font-size: 3em;
  text-align: center;
  text-decoration: none !important;
  border: 2px solid #fff;
  padding: 10px 20px;
  background-color: transparent;
  float: center;
  margin: 80px auto;
}

#view-raf a:visited {
  color: #fff !important;
}

// .count {
//   border-top: 2px solid silver;
//   display: flex;
//   text-align: center;
//   margin: 3em;
//   padding: 4.5em;
// }

.black-bg {
  background-color: #000;
}

.circle1 {
  width: 200px;
  height: 200px;
  background: red;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 3px solid black;
  padding: 2em;
  color: black;
  margin: 0 auto;
}

.circle2 {
  width: 300px;
  height: 300px;
  background: white;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 200px;
  border: 3px solid black;
  padding: 2em;
  color: black;
  margin: 0 auto;
}

.circle3 {
	width: 200px;
	height: 200px;
	background: blue;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  border: 3px solid black;
  padding: 2em;
  color: black;
  margin: 0 auto;
}

.ft-sz-3em {
  font-size: 3em;
  position: relative;
  left: 0;
  top: 30%;
  line-height: 1em;
}

.ft-sz-10em {
  font-size: 6em;
  position: relative;
  left: -9px;
  top: 0;
  line-height: 1em;
}
.ft-sz-6em {
  font-size: 6em;
  position: relative;
  left: -11;
  top: 0;
  line-height: 1em;
}

.description {
      padding: 2em;
    }

.quote {
  height: 300px;
  // background: black;
  color: white;
}

.quotetext  {
  font-size: 4em;
  height: 300px;
  color: red;
  justify-content: center;
  background-color: black;
  padding-top: 109px;
padding-left: 187px;

}


.thumbnail {
  height: 450px;
  overflow: scroll;
}

.cards h3 {
  font-size: 3em;
  text-align:center;
}

.cards i {
bottom: 0;
// padding: 30px;
margin-left: 177px;
}

// .caption {
//   margin-top: 100px;
//   margin-bottom: 30px;
// }

.caption1  {
  font-family: 'Coda', cursive;
  font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.caption1 h4 {
  align-items: stretch;;
}

.caption  {
  font-family: 'Coda', cursive;
  font-size: 25px;
    margin-top: 50px;
}

.footer {
  background-color: white;
}

.footer-text {
  color: black;
  font-size: 15px;
}
.circlec {
  padding: 75px;
}
