// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  height: 100vh;
  width: auto;
  background: #fff url('https://haitifunrun.files.wordpress.com/2012/05/raffle-fish-bowl-photo.jpg') no-repeat fixed center;
}
.main {
  font-size: 30px;
  line-height: 40px;
}
