// Place all the styles related to the Raffles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .inline {
//   display: inline-block;
//   margin: 30px 30px;
// }
.jumbotron {
  padding-left: 5px;
  padding-left: 73px;
padding-right: 83px;
}

.counter {
  border: 2px solid red;
  color: black;
  font-size: 16px;
  padding: .5em;
  text-align: center;
  margin-right: 200px;
  align-item: center;
}

h5 {
  font-weight: bold;
}
.prize {
      padding-left: 67px;
}

.confirmticket {
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnhw1ZGoTyGOJeNsmj39B79lDMzdTRP18P9oiyKl2o1EIa7Bmc');
  // border: 2px solid black;
  // border-radius: 17px;
  margin: 63px;
      padding: 20px;
      margin-right: -10px;
      margin-left: -27px;
      color: black;
      padding-left: 45px;
      margin-bottom: 5px;
}

.winner {
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnhw1ZGoTyGOJeNsmj39B79lDMzdTRP18P9oiyKl2o1EIa7Bmc');
  font-size: 20px;
  padding: 55px;
  text-align: center;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 850px;
  margin-bottom: 50px;


}
