// Place all the styles related to the Raffles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .inline {
//   display: inline-block;
//   margin: 30px 30px;
// }
.jumbotron {
  margin: 0 auto;
  text-align: center;
}

.counter {
  border: 4px solid red;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  margin-right: 292px;
  margin-left: 292px;
}

h5 {
  font-weight: bold;
}

.txt-align {
  text-align: center;
}

.confirmticket {
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnhw1ZGoTyGOJeNsmj39B79lDMzdTRP18P9oiyKl2o1EIa7Bmc');
  margin: 63px;
  color: black;
  height: 155px;
  width: 325px;
  text-align: center;
  font-size: 19px;
  padding: 46px;
}

.winner {
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnhw1ZGoTyGOJeNsmj39B79lDMzdTRP18P9oiyKl2o1EIa7Bmc');
  height: 155px;
  width: 325px;
  font-size: 20px;
  padding: 55px;
  text-align: center;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 850px;
  margin-bottom: 50px;
}

.table-hover thead tr {
  font-size: 24px;
  border-bottom: 4px solid black;
  color: red;
}
.table-hover tr th{
width: 335px;
}

.table-hover tbody tr{
  border-bottom: 2px solid black;
  font-size: 16px;
}

.tr {
  border: 1px solid black;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  font-size: 17px;
  padding-top: 40 px;
}

.btn a:visited{
    color: black;
}

.table > tbody > tr > td.raffletitle {
  font-size: 20px;
  font-weight: bold;
  padding-top: -5px;
}

.fund-goal img {
  width: 500px;
  height: 100%;
  display: flex;
}

.fund-goal h1 {
  margin-left: 160px;
  padding: 20px 0;
}

.prizes img {
  width: 150px;
  height: 100%;
}

.prizes h1 {
  margin-left: 230px;
  padding: 20px 0;
}

div.wte-font {
  color: #fff !important;
}

.block {
  display: inline-block;
}

.btn a {
  color: #ffffff;
}
