// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showheader {
  font-size: 36px;
padding: 25px;
margin-left: 91px;
}

.l {
  background-color: silver;
}


.register {
  text-align: center;
}


 .field {
   font-weight: bold;
 }

 .z {
   font-size: 20px;
   background-color: gray;
 }

 .z a {
   color: black;
 }

 .y {
   background-color: transparent;
   margin: 10px;
   font-size: 19px;
   padding: 5px;
 }
.x {
  margin: 10px;
  border: 1px solid black;
  font-size: 14px;
  padding: 5px;
  background-color: white;
  margin-left: -13px;
}

.blink_me {
  color:white;
}
  .blink_me h2{
    color: white;
    font-weight: bold;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
.ticket {
  border-radius: 17px;
      // margin: 9px;
      margin-top: 21px;
      background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSnhw1ZGoTyGOJeNsmj39B79lDMzdTRP18P9oiyKl2o1EIa7Bmc");
      padding-top: 40px;
      text-align: center;
      color: black;
padding-bottom: 13px;
height: 155px;
width: 325px;
}

.bb{
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  float:right;
  margin-bottom: 25px;
  margin-right: 25px;
}
.ticket a {
  color: black;
  font-size: 22px;
}

.ticket a:hover {
  background: transparent;
  color: white;
}

.update {
  border: 2px solid black;
  padding: 5px;
  float: right;
}
