// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register {
  text-align: center;
}

.register h1 {
  color: blue;
}

 .field {
   font-weight: bold;
 }

 .z {
   font-size: 20px;
   background-color: gray;
 }

 .z a {
   color: black;
 }

 .y {
   background-color: transparent;
   margin: 10px;
   font-size: 14px;
   padding: 5px;
 }
.x {
  margin: 10px;
  border: 1px solid black;
  font-size: 14px;
  padding: 5px;
}

.blink_me {
  color:white;
  border-top:3px dashed silver;
}
  .blink_me h2{
    color: white;
    font-weight: bold;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
.ticket {
  border: 2px solid black;
  border-radius: 17px;
  margin: 5px;
  padding: 10px;
  background: red;
  margin-right: 70%;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

.ticket a {
  color: silver;
  font-size: 22px;
}

.ticket a.hover {
  background: red;
}
