// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register {
  text-align: center;
}

.register h1 {
  color: Blue;
}

 .field {
   font-weight: bold;
 }

.row{
  margin: 5px;
  border: 1px solid black;
  font-size: 14px;
 }

 .col-md-2 {
   background: gray;
 }
.col-md-1 {
    margin-right: 5em;
}
.win {
  float: right;
  display: flex;
}
.ticket {
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 20px;
  background: red;
  margin-right: 75%;
  text-align: center;
}

.ticket a {
  color: black;
  font-size: 22px;
}

.ticket a.hover {
  background: red;
}
